VITE_AGW_HOST=localhost
VITE_AGW_PORT=3000

#VITE_KC_URL=http://localhost:8080/
#VITE_KC_REALM=dev
#VITE_KC_USER=dev-client
# Optional BFF endpoint (if used)
#VITE_AUTH_URL=

VITE_KEYCLOAK_URL=http://178.253.55.102:8080
VITE_KEYCLOAK_REALM=dev
VITE_KEYCLOAK_CLIENT_ID=dev-client
VITE_API_URL=http://localhost:3000/api

