VITE_AGW_HOST=localhost
VITE_AGW_PORT=3000
VITE_FIREBASE_VAPID_KEY=BHeVFzpk-tm9dEKQtFlWo61wE-sdgGFhvE9hsrBzces5QSjHP4hZ9XTvPPKc_4ffLQMj0ZVrIkBQPJJ1nbHqgPY
VITE_DEFAULT_USER_ID=1
VITE_KC_URL=http://localhost:8080/
VITE_KC_REALM=dev
VITE_KC_USER=dev-client
# Optional BFF endpoint (if used)
VITE_AUTH_URL=