.wrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;

    & .card {
        background-color: #fff;
        padding: 16px;
        border-radius: 28px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        & .text {
            font-size: 14px;
            font-family: 'TeX Gyre Adventor';
            font-weight: 400;
        }
        
        & .cardIcon {
            padding: 14px 12px;
            border: 1px solid #99999926;
            background-color: #fff;
            border-radius: 100px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 8px;


            &Text {
                font-size: 14px;
                font-family: 'TeX Gyre Adventor';
                font-weight: 400;
            }
            
        }
        & .row {
            display: flex;
            justify-content: space-between;
            width: 100%;

            & .textCol {
                padding: 10px;
                display: flex;
                flex-direction: column;
                gap: 2px;
                & .subTitle {
                    font-size: 20px;
                    font-family: 'TeX Gyre Adventor';
                    font-weight: 400;
                }
                & .category {
                    color: #BDBDBD;
                    font-size: 12px;
                    font-family: 'TeX Gyre Adventor';
                    font-weight: 400;
                }
            }

            & .iconCol {
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                gap: 24px;

                & .icon {
                    border-radius: 50%;
                    padding: 16px;
                    border: 1px solid #99999940;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
                & .sum {
                    font-size: 32px;
                    font-family: 'TeX Gyre Adventor';
                    font-weight: 400;

                    &.increase {
                        color: #50B848;
                    }
                    &.decrease {
                        color: #D85752;
                    }
                }
            }
        }

        & .heading {
            display: flex;
            align-items: center;
            width: 100%;
            justify-content: space-between;
            & .title {
                font-size: 18px;
                font-family: 'TeX Gyre Adventor';
                font-weight: 400;
                
            }

            & .icon {
                border-radius: 50%;
                border: 1px solid #99999926;
                padding: 12px;
                display: flex;
                align-items: center;
                justify-content: center;
            }

           
        }
    }

    & .scan {
        overflow: hidden;
        position: relative;
        & .col {
            display: flex;
            flex-direction: column;
            & .title {
                font-size: 16px;
                font-family: 'TeX Gyre Adventor';
                font-weight: 400;
            }
            & .text {
                font-size: 10px;
                font-family: 'TeX Gyre Adventor';
                font-weight: 400;
            }
            & .icon {
                padding: 12px;
                border: 1px solid #99999926;
                padding: 12px;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-top: 20px;
                align-self: flex-start;
            }
        }

        & .img {
            position: absolute;
            bottom: -20px;
            right: -10px;
            width: 125px;
            height: 125px;
        }
    }

    & .purchases {
        display: flex;
        flex-direction: column;
        gap: 10px;
        & .list {
            flex: 1;
            padding: 0 4px;
            display: flex;
            flex-direction: column;
            gap: 16px;
            width: 100%;
            margin: 0;
            & .item {
                flex: 1;
                display: flex;
                align-items: center;
                gap: 40px;
                & p {
                    font-size: 14px;
                    font-family: 'TeX Gyre Adventor';
                    font-weight: 400;
                    
                }

                & .name {
                    flex: 1;
                    color: #828282;
                }
                & .count {
                    color: #BDBDBD;
                }
                & .price {
                    color: #828282;
                    align-self: flex-end;
                } 
            }
        }
    }

    & .details {
        display: flex;
        flex-direction: column;
        gap: 12px;
        & .detailsWrapper {
            width: 100%;
            padding: 12px 20px;
            border-radius: 28px;
            border: 1px solid #99999926;
            background-color: #fff;
            display: flex;
            flex-direction: column;
            gap: 4px;

            & .text {
                font-size: 10px;
                font-family: 'TeX Gyre Adventor';
                font-weight: 400;
                
                color: #999999;
            } 
            & .subTitle {
                font-size: 10px;
                font-family: 'TeX Gyre Adventor';
                font-weight: 400;
                
                color: #999999;
                text-transform: uppercase;
            }
        }
    }

    & .actions {
        display: flex;
        gap: 8px;
        & button {
            flex: 1;
            padding: 16px ;
            background-color: #fff;
            & .buttonContent {
                display: flex;
                align-items: center;
                gap: 10px;
                & .actionText {
                    
                    &.warning {
                        color: #D85752;
                    }
                }
            }
        }
    }
}