.root {
    background-color: rgba(243, 247, 244, 0.8);
    display: flex;
    gap: 12px;
    align-items: center;
    padding: 14px 18px 16px 12px;
    border-radius: 28px;
    width: 100%;
    cursor: pointer;
    transition: all 0.2s ease;
}

.root:hover {
    opacity: 0.9;
}

.iconButtonContainer {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    padding-right: 13px;
    flex-shrink: 0;
}

.iconButtonPositive :global(button) {
    border-color: var(--brand-default, #50b848) !important;
}

.iconButtonNegative :global(button) {
    border-color: var(--border-soft, rgba(153, 153, 153, 0.25)) !important;
}

.content {
    display: flex;
    flex: 1 0 0;
    align-items: flex-end;
    min-width: 0;
    padding-right: 8px;
}

.textContainer {
    display: flex;
    flex: 1 0 0;
    flex-direction: column;
    gap: 2px;
    align-items: flex-start;
    min-width: 0;
}

.category {
    font-family: 'TeX Gyre Adventor', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: normal;
    color: var(--grey, #9b9b9b);
    margin: 0;
    width: 100%;
    white-space: pre-wrap;
}

.operationLabel {
    font-family: 'TeX Gyre Adventor', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: normal;
    color: var(--fg-default, #1f1f1f);
    margin: 0;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.amountContainer {
    display: flex;
    gap: 6px;
    align-items: center;
    flex-shrink: 0;
    font-family: 'TeX Gyre Adventor', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: normal;
}

.amountValueWrapper {
    display: flex;
    align-items: center;
    flex-shrink: 0;
}

.amountPrefix {
    margin: 0;
    flex-shrink: 0;
}

.value {
    margin: 0;
    flex-shrink: 0;
}

.currency {
    margin: 0;
    flex-shrink: 0;
}

.amountContainerPositive {
    color: var(--brand-default, #50b848);
}

.amountContainerPositive .amountPrefix,
.amountContainerPositive .value,
.amountContainerPositive .currency {
    color: var(--brand-default, #50b848);
}

.amountContainerNegative {
    color: var(--status-02-default, #d85752);
}

.amountContainerNegative .amountPrefix,
.amountContainerNegative .value,
.amountContainerNegative .currency {
    color: var(--status-02-default, #d85752);
}

